# MyFormCapture (MFC) Form Setup
# Paste your unique form URLs from your MyFormCapture dashboard below:
MFC_Template_FORM_URL=<YOUR_FORM_ACTION_URL>

MFC_CONTACT_FORM_URL=https://myformcapture.com/f/7db4d175-ba9c-4fd7-974b-3c9e4601247e
MFC_NEWSLETTER_FORM_URL=https://myformcapture.com/f/7db4d175-ba9c-4fd7-974b-3c9e4601247e
MFC_CAREERS_FORM_URL=https://myformcapture.com/f/7db4d175-ba9c-4fd7-974b-3c9e4601247e
MFC_KEEP_INFORMED_FORM_URL=https://myformcapture.com/f/7db4d175-ba9c-4fd7-974b-3c9e4601247e
