# MyFormCapture (MFC) Form Setup
# Paste your unique form URLs from your MyFormCapture dashboard below:
MFC_Template_FORM_URL=<YOUR_FORM_ACTION_URL>

MFC_CONTACT_FORM_URL=https://myformcapture.com/f/<YOUR_FORM_UUID>
MFC_NEWSLETTER_FORM_URL=https://myformcapture.com/f/<YOUR_FORM_UUID>
MFC_CAREERS_FORM_URL=https://myformcapture.com/f/<YOUR_FORM_UUID>
MFC_KEEP_INFORMED_FORM_URL=https://myformcapture.com/f/<YOUR_FORM_UUID>
